In [2]:

# 1. Import necessary libraries

import pandas as pd


# 2. Load the raw dataset from /data/raw/

df = pd.read_csv("../data/raw/customer_segmentation_dataset.csv")


# 3. Show the first rows of the dataset
#    This confirms the file loaded correctly

df.head()

,order_id,customer_id,order_date,product_category,product_name,quantity,unit_price,country,payment_method
0,O000001,C0103,2024-09-06,Accessories,Watch,3,153.48,UK,Bank Transfer
1,O000002,C0271,2024-07-05,Electronics,Keyboard,2,121.46,Spain,PayPal
2,O000003,C0107,2023-04-11,Home,Pillow,1,167.40,Italy,Bank Transfer
3,O000004,C0072,2023-12-25,Accessories,Watch,3,25.24,Germany,PayPal
4,O000005,C0189,2024-01-15,Accessories,Belt,3,100.60,Italy,Bank Transfer

In [3]:
# CLEANING
# Remove duplicate rows
df = df.drop_duplicates()

# Remove rows where every column is empty
df = df.dropna(how="all")

# Show the first rows again
df.head()

,order_id,customer_id,order_date,product_category,product_name,quantity,unit_price,country,payment_method
0,O000001,C0103,2024-09-06,Accessories,Watch,3,153.48,UK,Bank Transfer
1,O000002,C0271,2024-07-05,Electronics,Keyboard,2,121.46,Spain,PayPal
2,O000003,C0107,2023-04-11,Home,Pillow,1,167.40,Italy,Bank Transfer
3,O000004,C0072,2023-12-25,Accessories,Watch,3,25.24,Germany,PayPal
4,O000005,C0189,2024-01-15,Accessories,Belt,3,100.60,Italy,Bank Transfer

In [4]:
# Create a new column representing total sales per order
df["sales_amount"] = df["quantity"] * df["unit_price"]

# Show the first rows to confirm the new column was added
df.head()

,order_id,customer_id,order_date,product_category,product_name,quantity,unit_price,country,payment_method,sales_amount
0,O000001,C0103,2024-09-06,Accessories,Watch,3,153.48,UK,Bank Transfer,460.44
1,O000002,C0271,2024-07-05,Electronics,Keyboard,2,121.46,Spain,PayPal,242.92
2,O000003,C0107,2023-04-11,Home,Pillow,1,167.40,Italy,Bank Transfer,167.40
3,O000004,C0072,2023-12-25,Accessories,Watch,3,25.24,Germany,PayPal,75.72
4,O000005,C0189,2024-01-15,Accessories,Belt,3,100.60,Italy,Bank Transfer,301.80

In [5]:
# Convert the order_date column to a proper datetime format
df["order_date"] = pd.to_datetime(df["order_date"])

# Check the data types to confirm the conversion
df.dtypes

order_id                    object
customer_id                 object
order_date          datetime64[ns]
product_category            object
product_name                object
quantity                     int64
unit_price                 float64
country                     object
payment_method              object
sales_amount               float64
dtype: object

In [7]:
# Save the cleaned dataset into the processed folder
df.to_csv("../data/processed/customer_segmentation_clean.csv", index=False)
# Confirm save
"data_clean table saved successfully"

'data_clean table saved successfully'